        .gradient-blue {
            background: linear-gradient(to right, #4b6cb7, #182848);
        }

        .rotated {
            transform: rotate(-90deg);
        }

        .fas.fa-chevron-down {
            cursor: pointer;
            transition: color 0.3s ease;
        }

        .fas.fa-chevron-down.text-primary:hover {
            color: #00dffc !important;
        }